nav{
    width: 100vw;
    height: 8vh;
    gap: 0px;
    opacity: 0px;
    background: #F0F0F0;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 0;
    margin: 0;
    border: transparent;
    display: flex;
    justify-content: space-between;
}


.logo{
    width: 311px;
    height: 49px;
    top: 20px;
    left: 83px;
    gap: 0px;
    opacity: 0px;

}

.profile_pic{
    gap: 0px;
    opacity: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.buttons{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    width: 12%;
}

.buttons button{

    background-color: #1355c9;
    color: white;
    border-radius: 50%;

    width: 30px;
    height: 30px;

}


.profile{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: transparent;
}


.dropmenu{
    display: flex;
    flex-direction: column;

}

body {
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    width: 390px;
    height: 600px;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;

}

.sliding-div {
    position: absolute;
    width: 180%; /* Adjusted to 170% for a more natural slide */
    height: 100%;
    left: -70%;
    transition: left 0.5s ease;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 1px 1px 0px #00000040;


    /* display: flex;
    align-items: center; */
}

.sliding-div.open {
    left: 0;
}

#slideButton {
    /* position: absolute; */
    left: 80%;
    z-index: 1;
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    width: 50%;
    height: 83%;
    background-color: black;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0px 1px 1px 0px #00000040;

}

#piIcon {
    width: 34px; /* Adjust size as needed */
    height: 34px; /* Adjust size as needed */
    transition: transform 0.5s ease;
}

#piIcon.rotate {
    transform: rotate(180deg);
}


.notes{
    background-color:#FDFDFD;
    height: 100%;
    box-shadow: 0px 1px 1px 1px #00000040;
    border-radius: 0px 0px 20px 20px ;
    display: flex;
    flex-direction: column;
    padding: 5px;
    

}

main{
    display: flex;
    width: 100vw;
    height: 100%;
}

.submit_button{
    background-color: #0029FF;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    width: 121px; 
    height: fit-content;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10%;
    margin-top: 30px;
}

.centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.submain{
    width: 98%;
    display: flex;
    justify-content: center;

}


.subtitle{
    background-color:#E9ECEF;
    padding: 20px;
    margin-top: 30px;
}

.cards{
    width: 550px;
    height: 750px;
    border-radius: 15px 0px 0px 0px;
    background-color: #FDFDFD;
    box-shadow: 0px -4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius:15px ;
}

.cards-container{
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    gap: 60px;
}

.base{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info{
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: medium;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    position: absolute;
    top: 48.5%;
    right: 57%;
}

#you_tube{
    
    width: 100%;
    height: 291px;
    top: 533px;
    left: 214px;
    gap: 0px;
    opacity: 0px;

}


#field1{
    resize: none;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 5px;
}

#field2{
    resize: none;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 5px;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #0000000D;
    border-radius: 10px;
    color:#000000;
    height: 90px;
   
}


.thread_title{
    background-color:  #FEFFC033;
    font-size: larger;
    font-weight: 800;
    border: 0.1px solid #00000066;
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 10px;
}

.thread_title button{
    font-size: large;
    font-weight: 800;
    background-color: transparent;
    border: transparent;
}


.text_field{
    display: flex;
    justify-content: space-evenly;
}

.select{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 50px;
    align-items: center;
    
}

.symbols button{
    background-color: transparent;
    border: transparent;
    font-size: x-large;
}

.option{
    display: flex;
    gap: 10px;
}

select{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #00000040;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    padding: 10px;
}

#submit_thread{
    color:#FFFFFF;
    background-color:#0029FF;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    margin: 40px;
    border: transparent;
    font-size: large;
}

.summary{
    display: flex;
    flex-direction: column;
    background-color: #0000000D;
    border-radius: 10px;
    color:#000000;
    height: 90px;
    margin: 20px;
    padding-top: 10px;
    box-shadow: 1px 3px 8px 0px #00000040;
}

.summary label{
}

#summary{
    resize: none;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 5px;

}


.tools{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FCFBFB;
    box-shadow: 0px 2px 10px 0px #0000002E;
    padding: 10px;
    margin: 20px 20px 0px 20px;
}

.tools button{
    background-color: transparent;
    border: transparent;
}

.symbols{
    background-color: transparent;
    border: transparent;
    font-size: x-large;
    display: flex;
    align-items: center;
}



.form{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}


.form label{
    font-size: x-large;
    margin: 20px;
}

input{
    box-shadow: -2px 2px 6px 0px #00000026;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    margin: 20px;
}

.extra{
    height: 26%;
    box-shadow: -2px -2px 6px 0px #00000026;
    margin: 0px 20px 20px 20px;
}


.frame{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.labels{

    font-size: x-large;
    border: 1px solid #D9D7D7;
    width: 90%;
    padding: 20px 0px 20px 20px;
    margin: 10px;
    
}

.cont{
    width: 90%;
    
}

.see_more{
    background-color: transparent;
    border: transparent;
    font-size: medium;
    color: #606161;
}



footer{
    position: absolute;
    top: 193%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}



.blue_image{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #0029FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.blue_image img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}


.notification-container{

    position: absolute;
    top: 10%;
    right: -16%;
    width: 390px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
    background-color: #606161;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
}


.not-title{

    display: flex;
    flex-direction: column;
    background-color: black;
    color: #FFFFFF;
    height: 400px;
    width: 10%;
    font-size: small;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.not-title button{
    background-color: transparent;
    border: transparent;
    color: #FFFFFF;
    font-size: xx-large;
    margin-bottom: 10px;

}

